/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/saveactions_settings.xml
/.idea/ScenarioStringEditor.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/AoE2ScenarioStringEditor.iml
